﻿@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSansLight.eot');
    src: url('../fonts/IRANSansLight.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansLight.woff') format('woff'), url('../fonts/IRANSansLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSansMedium.eot');
    src: url('../fonts/IRANSansMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansMedium.woff') format('woff'), url('../fonts/IRANSansMedium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Junction';
    src: url('../fonts/Junction.eot');
    src: url('../fonts/Junction.eot?#iefix') format('embedded-opentype'), url('../fonts/Junction.woff') format('woff'), url('../fonts/Junction.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body,h1,h2,h3,h4 {
    font-family: 'IRANSans', 'Junction', Tahoma, sans-serif !important;
    font-size: 15px;
}